.wrapper {
    display: flex;
    flex-direction: column;
    padding: 20px;
    row-gap: 15px;

    .selectedHours {
        background-color: darkorange !important;
        color: white !important;
    }

    .selectedPlayers {
        background-color: darkorange !important;
        color: white !important;
    }
}
